.member-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 2rem 0;
    gap: 20px;
    position: relative;
}
.content-item{
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 5px #ddd;;
}
.member-list .content-item .content-item-title {
    width: 80%;
    margin: 10px;
}
.member-list .content-item .content-item-title span{
    color: #396b8c;
    font-size: 1.5rem;
}
.member-list .content-item-title a {
    padding: 2px 8px;
    border: 1px solid #eee;
    border-radius: 4px;
    color: #396b8c;
    font-size: 1.5rem;
}
.link-file{
    align-items: center;
    display: flex;
}
.content-item img{
    width: 100px;
}
.pagination{
    margin: 30px 0 10px;
}
.pagination-right{
    width: fit-content;
    margin: auto;
}
.pagination-wrapper{
    display: grid;
    grid-auto-flow: column;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
}
.pagination-item{
    background-color: #99a1a9;
    cursor: no-drop;
}
.pagination-right .pagination-wrapper .pagination-item.previous-next{
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    cursor: no-drop;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.no-info{  
        width: 100%;
        box-sizing: border-box;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
